API_ID=12190971
API_HASH=cd1481752891b60818e9fd0ceac09848
BOT_TOKEN=5394395822:AAF5kCZn1343IsBYDDF3ebbvVbT1sPBjMTE
MONGO_DB_URI=mongodb+srv://Aman:Aman@cluster0.v8vph.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
LOG_GROUP_ID=-1001745463589
MUSIC_BOT_NAME=SUNNY MUSIC 
STRING_SESSION=BQCseN1uk-6D9XoHGf0l3G2aaXs_M07tCqWWenXHgXakkfmTSctRmle7ogWN4CS9-9gNxXh0dD78qcFMOzEE6U4P-01wlPyzk72uUIwuhp-XkewpFBLB4VeRWZLNBsccyUqOSmUl0Bv2z-c-uPzSt0xWBQOfkheLiQoe5LgX7UGfNeJNLgrNgMGtpAeVEfGP5R-k84rrfS4Ggww53D9BpSWkBMhUDBG-7rFMWLhaxVEf6WiPOYq57j_T6Se_3Notn-2kXW9QQulnB1pSHBmNqybNNkhreCiPCSzJsIvtlUi_IA_w3shWB2aTsBCWzlLDb-30CzsxfBwGt0H0JWuStFFyfJ8ywQA
OWNER_ID=1902419660
SUDO_USER=1902419660
