API_ID=12190971
API_HASH=cd1481752891b60818e9fd0ceac09848
BOT_TOKEN=5394395822:AAF5kCZn1343IsBYDDF3ebbvVbT1sPBjMTE
MONGO_DB_URI=mongodb+srv://Aman:Aman@cluster0.v8vph.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
LOG_GROUP_ID=-1001745463589
MUSIC_BOT_NAME=SUNNY MUSIC 
STRING_SESSION=BQAnyrt_F3dZRKl7531ArwJ9MDssZLRgR9hGJ81qf71A4UTdHh-8M9uYmC9IKhkgyozz8JM-ocki_IVzEbcX7i4EIEJ1JZYql9d9lzpk6WPtiRFx4v_mR5Pifzb4dc4BECySEvU-CwDkXvg7wqG4tg5P89u1nU_Wc7ipt5rBJjWi7Hh7qBgfZ8w-PRpbuhlwfLTadBp9wj2bbKpqghSpYPsHoV162b9gmG59e90cxQwV3gfKzmv8tnjM4OyXVzTCSzzHXIghItw-SENiWl9cQTynKX5_FIPtBkZgDA78b7DcoYdQFA3YqutPOMhoxiRCgnCtY7ShdyyJeJBfb--l_TP7AAAAAHyfMsEA
OWNER_ID=1902419660
SUDO_USER=1902419660
